#sidebar {
    position: absolute; 
    z-index: 2; 
    width: 20%; 
    height: 100%; 
    color: white; 
    background: grey;
    background-color: rgba(0,0,0,0.9); 
    text-align: center; 
    font-family: 'Manjari', sans-serif;
}

#personalize{
    position: fixed;
    background-color: white; 
    right: 0px; 
    top: 2%; 
    width: 8%; 
    padding-left: 1%; 
    font-family: 'Manjari', sans-serif;
    color: white; 
    background: grey;
    background-color: rgba(0,0,0,0.9); 
    text-align: center; 
    height: 40%; 
    font-size: 12px; 
}

#speedSlow, #speedNormal, #speedFast {
    width: 60%; 
    background-color: #26bd00;
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding: 3%; 
    font-weight: bold;
    margin-top: 2%; 
}

#personalizeHeader {
    margin-bottom: 0 !important; 
    font-size: 18px; 
}

#image {
    height: 30%; 
}

#songImage {
    height: 75%;
    margin-top: 7%; 
}

input{
    border-radius: 10px; 
    width: 70%; 
    border: none; 
    height: 25px; 
    outline: none; 
}

input[type='text']{
    font-family: 'Manjari', sans-serif;
    font-size: 12px; 
}

#spotify{
    width: 30px;
}

#search{
    margin-top: 5%; 
    background-color: #26bd00;
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding: 3%; 
    font-weight: bold; 
}

#listeningHeader {
    margin-top: 10%; 
}

#searchHeader{
    margin: 0 !important; 
}

#listeningHeader, #searchHeader {
    font-size: 18px; 
}

#errorMsg{
    color: red; 
    font-size: 12px; 
    font-weight: bold; 
}

#tempo {
    position: fixed;
    bottom: 0px;
    margin-left: 1%;
    color: green;
    font-size: 12px;
}